html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*.container {*/
/*    height: 100%;*/
/*    position: relative;*/
/*}*/

input {
    font-size: 12px;
}

h1 {
    color: #525454;
    font-size: 22px;
    margin: 0 0 10px 0;
    text-align: center;
}

/*#hide-listings,*/
/*#show-listings {*/
/*    width: 48%;*/
/*}*/

hr {
    background: #D0D7D9;
    height: 1px;
    margin: 20px 0 20px 0;
    border: none;
}

#map {

    height: 100vh;

}

/*.options-box {*/
/*    background: #fff;*/
/*    border: 1px solid #999;*/
/*    border-radius: 3px;*/
/*    height: 100%;*/
/*    line-height: 35px;*/
/*    padding: 10px 10px 30px 10px;*/
/*    text-align: left;*/
/*    width: 340px;*/
/*}*/

/*#pano {*/
/*    width: 200px;*/
/*    height: 200px;*/
/*}*/

/*.text {*/
/*    font-size: 12px;*/
/*}*/
